{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import",
    "jest",
    "jsx-a11y",
    "mysticatea",
    "prefer-object-spread",
    "prettier",
    "react",
    "@typescript-eslint",
    "risxss"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "jest/globals": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "alert": true,
    "document": true,
    "localStorage": true,
    "navigator": true,
    "window": true,
    "HTMLElement": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "optionalDependencies": false, "peerDependencies": false }
    ],
    "import/order": ["error"],
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "mysticatea/no-useless-rest-spread": "error",
    "prefer-object-spread/prefer-object-spread": "error",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/no-array-index-key": "error",
    "react/jsx-key": "error",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "complexity": "off",
    "max-lines": ["error", 300],
    "max-depth": ["error", 4],
    "max-params": ["error", 10],
    "risxss/catch-potential-xss-react": "error"
  }
}
