services:
  db:
    image: postgres:17.6-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    command: ["postgres", "-c", "log_statement=all"]

  backend:
    build: ./backend
    command: python /code/manage.py rundebugserver 0.0.0.0:80
    # entrypoint: /code/entrypoint.sh
    volumes:
      - ./backend:/code:delegated
    ports:
      - "8000:80"
      - "9000:9000"
    links:
      - db
      - drawing-renderer
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgres://postgres@db:5432/postgres"
      ENVIRONMENT: "local"
      PUSHPIN_HOST: pushpin
      DRAWING_RENDERER_HOST: drawing-renderer

  drawing-renderer:
    build: ./drawing-renderer
    command: yarn start
    ports:
      - "8888:80"
    volumes:
      - ./drawing-renderer:/code:delegated
      - ./drawings:/data:delegated
    working_dir: "/code"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgres://postgres@db:5432/postgres"
      ENVIRONMENT: "local"
      DRAWING_RENDERER_STORAGE_PATH: "/data/"
      DRAWING_RENDERER_PUBLIC_PATH: "https://localhost:3000/drawings/"

  pushpin:
    build: ./pushpin
    ports:
      - "7999:7999"
      - "7998:7998"
      - "5560-5563:5560-5563"
    links:
      - backend
networks:
  default:
    ipam:
      config:
        - subnet: 172.16.132.0/24
