version: 2.1
orbs:
  node: circleci/node@3.0.1
jobs:
  lint:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
          app-dir: frontend
      - run:
          command: yarn lint
          name: Run linter
          working_directory: frontend
  tsc:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
          app-dir: frontend
      - run:
          command: yarn tsc
          name: Run TypeScript check
          working_directory: frontend
workflows:
  build-lint-tsc:
    jobs:
      - lint
      - tsc
