$color-palette-black: #44374e;
$color-palette-purple: #9b37a9;
$color-palette-light-purple: #c9f;
$color-palette-text-grey: rgba(68 55 78 / 40%);
$color-palette-background-grey: #f1f1f1;
$color-palette-amber-light: #ffd54f;
$color-palette-amber: #ffc107;
$color-palette-orange: #f68d4f;
$color-palette-blue: #38cdff;
$color-palette-blue-light: #f4f9fb;
$color-palette-white: #fff;
$color-palette-red: #ff7373;
$color-palette-red-transparent: rgba(255 115 115 / 60%);
$color-palette-black-transparent: rgba(0 0 0 / 24%);
$color-palette-white-transparent: rgba(255 255 255 / 80%);
$color-palette-discord: #7289da;


$font-family-titles: 'Raleway', 'Helvetica', 'Arial', sans-serif;
$font-family-main: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;

$font-size-xxlarge: 60px;
$font-size-titles: 32px;
$font-size-header-2: 24px;
$font-size-header-3: 26px;
$font-size-header-4: 15px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

$line-height-large: 36px;
$line-height-medium: 24px;
$line-height-small: 12px;

$border-radius-medium: 4px;
$border-radius-large: 10px;
